@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>Você não tem permissão de acesso a essa página!</p>
<p><a asp-controller="Home" asp-action="Index">Clique aqui</a> para voltar para home</p>