@model StudyWebApi.Models.LoginModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<form asp-action="Entrar">
    <div class="form-group">
        <label for="exampleInputEmail1">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Login de entrada">
        @Html.ValidationMessageFor(x=>x.Login)
    </div>
    <br />
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" asp-for="Senha" class="form-control" placeholder="Senha de acesso">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>
    <br />
    <p class="mb-4 text-sm mx-auto">
        Esqueceu sua senha?
        <a asp-action="RedefinirSenha" asp-controller="Login" class="text-primary text-gradient font-weight-bold">Redefinir minha senha</a>
    </p>

    <center><button type="submit" class="btn btn-primary">Logar</button></center>
</form>