@model StudyWebApi.Models.LoginModel


@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<form asp-action="Login">
    <div class="form-group">
        <label for="exampleInputEmail1">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Login de entrada">
    </div>
    <br />
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" asp-for="Senha" class="form-control" placeholder="Senha de acesso">
    </div>
    <br />
    <center><button type="submit" class="btn btn-primary">Logar</button></center>
</form>